body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/positive_85.png);
    background-size: 35%;
    opacity: 0.78;
    margin-left: 30px;
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    width: 75%;
    color: #333e48;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #E7F5FE;
}

input {
    padding: 8px;
    margin: 2px;
}

button {
    padding: 9px;
    font-size: 11px;
    font-weight: bold;
    font-variant-caps: all-small-caps;
    background-color: #34a6fdb0;
    border-style: solid;
    transition-duration: 0.4s;
    outline: none;
    box-shadow: 0 0 5px 0 rgba(25, 25, 25, 0.1);
}

button:hover {
    background-color: #0d94fcb0;
}

h1 {
    color: #0d96ffe0;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 47px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

h4 {
    color: #0d96ffe7;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
}

#total-monthly-salary {
    color: #242c33;
}